<h1>Swit details screen</h1>
<p>Content: <%= @swit.content %></p>
<button type="button" class="createedit"><%= link_to 'Edit', edit_swit_path(@swit) %> 
<button type="button" class="createback"><%= link_to 'Back', swits_path %>
